// Here we simulate a population underwent a 10 generation long bottleneck 20 generations before we begin to sample
initialize() {
	// define mutation rate
	initializeMutationRate(1e-7);
	
	// m1 mutation type: neutral 
	//(name, dominance, DFE type, selection coefficient)
	initializeMutationType("m1", 0.5, "f", 0.0);

	// m2 mutation type: selected
	initializeMutationType("m2",0.5,"f",0.1);
	
	// g1 genomic element type: uses m1 for all mutations 
	//(name, type of mutation, ratio at which this is used)
	initializeGenomicElementType("g1", m1, 1.0);
	
	// uniform chromosome of length 50 kb with uniform recombination 
	//(element type, first site, last site)
	initializeGenomicElement(g1,0,49999);
	// define recombination rate
	initializeRecombinationRate(1e-8);
}
// create a population of N=500 individuals
//(name, size)
1 { sim.addSubpop("p1", 500); }
// at generation 9980 reduce population size to some low value
9980 { p1.setSubpopulationSize(100); }
// at generation 10000 return to old population size
9990 { p1.setSubpopulationSize(500); }

// sample 100 genomes every 10 generations, starting in generation 10000
// sample from population 1 into a specified file
// REMEMBER TO SPECIFY YOUR FILE PATH HERE
10000 late() { p1.outputSample(100,filePath="./slim_output.dat",append=F); }

// create all other entries, every 20 generations
10001:10200 late() { 
// if the generation is not divisible by 20 do nothing
if (sim.generation % 10 != 0)
		return;
	
	//otherwise take another sample and append it to the existing file
	p1.outputSample(100,filePath="./slim_output.dat",append=T); 
	// at the end check the number of selected mutations around
	if (sim.generation == 10200) {
		if (sim.countOfMutationsOfType(m2)+sum(sim.substitutions.mutationType==m2)>0){
			// display how many selected loci were still present at the end; if none instruct the user to rerun.
			cat("Simulation with at least one selected locus\n Nb. fixed sel loci:"+sum(sim.substitutions.mutationType==m2)+ "\n Nb. polymorphic selected loci:"+sim.countOfMutationsOfType(m2));
			} else {
			cat("Selected loci lost due to drift; please rerun\n");
		}	
		// save which mutations became fixed in the population
		sim.outputFixedMutations(filePath="./slim_output_fixedmut.dat");
	}	
}
