// Here, we simulate negative frequency dependent selection at 10 loci across the 50kb genome.
initialize() {
	// set mutation rat
	initializeMutationRate(1e-7);

	// define mutation type for neutral mutations
	//(name, dominance, DFE type, selection coefficient)
	initializeMutationType("m1", 0.5, "f", 0.0);    // neutral

	// define mutation type for mutation that is under frequency dependent selection
	initializeMutationType("m2", 0.5, "f", 0.1);    // balanced

	//organize mutations in genome 
	//(name, type of mutation, ratio at which this is used)
	// there will be 1 in 10000 selected mutations
	initializeGenomicElementType("g1", c(m1,m2), c(9999,1));

	// uniform chromosome of length 50 kb with uniform recombination 
	//(element type, first site, last site)
	initializeGenomicElement(g1, 0, 49999);

	// define recombination rate
	initializeRecombinationRate(1e-8);
}

// create a single population
//(name, size)
1 {
	defineConstant("gseed", getSeed() );
	sim.addSubpop("p1", N);
}








// sample 100 genomes every 10 generations, starting in generation 10000
// sample from population 1 into a specified file
// REMEMBER TO SPECIFY YOUR FILE PATH HERE
10000 late() {
	defineConstant("m2_10000", sum(sim.substitutions.mutationType == m2) );
	defineConstant("slim_out", "./slim_output" + gseed + "_N" + N + ".dat");
	defineConstant("slim_fixedmut", "./slim_output" + gseed + "_fixedmut_N" + N + ".dat");
	defineConstant("in_wfabc", "input_wfabc" + gseed + "_N" + N + ".txt");
	defineConstant("py_positions", "positions" + gseed + "_N" + N + ".txt");
	defineConstant("Ne_bootstrap", "input_wfabc" + gseed + "_N" + N + "_Ne_bootstrap.txt");
	

	p1.outputSample(100, filePath=slim_out, append=F);
	cat("At generation 10_000\n Nb. fixed sel loci:" + m2_10000 + "\n Nb. polymorphic selected loci:" + sim.countOfMutationsOfType(m2) + "\n");
	
}

// create all other entries, every 20 generations
10001:10200 late() { 
// if the generation is not divisible by 20 do nothing
if (sim.generation % 10 != 0)
		return;
	
	//otherwise take another sample and append it to the existing file
	p1.outputSample(100,filePath=slim_out, append=T); 
	// at the end check the number of selected mutations around
	if (sim.generation == 10200) {
		if (sim.countOfMutationsOfType(m2)+sum(sim.substitutions.mutationType==m2)>0){
			// display how many selected loci were still present at the end; if none instruct the user to rerun.
			cat("Simulation with at least one selected locus\n Nb. fixed sel loci:"+sum(sim.substitutions.mutationType==m2)+ "\n Nb. polymorphic selected loci:"+sim.countOfMutationsOfType(m2));
			cat ("\n\n");
			cat ("python ./SlimToWfabc.py " + slim_out + " " + slim_fixedmut + " " + in_wfabc + " " + py_positions + " 5 && ./bin/wfabc_1 " + in_wfabc + " \n");
			cat ("echo 'Must be zero!' $(grep -c '-' " + Ne_bootstrap + " ) \n");
			cat ("echo 'Bigger than zero?' $(grep -c 'm2' " + py_positions + " )\n\n");
			} else {
			cat("Selected loci lost due to drift; please rerun\n");
		}	
		// save which mutations became fixed in the population
		sim.outputFixedMutations(filePath=slim_fixedmut);
	}	
}

// here we define the frequency dependence
// m2 mutations are beneficial (s>1) when their frequency is <0.5, and deleterious (s<1) when their frequency is >0.5
fitness(m2) {
	return 1.5 - sim.mutationFrequencies(p1, mut);
}
