// Set up a simulation in which only neutral mutations are segregating for some time. After 10000 generations 0.5% of all mutations become beneficial, and the population is sampled for 200 generations. 
initialize() {
	// define mutation rate
	initializeMutationRate(1e-7);
	
	// m1 mutation type: neutral 
	//(name, dominance, DFE type, selection coefficient)
	initializeMutationType("m1", 0.5, "f", 0.0); // neutral

	// m2 mutation type: selected
	initializeMutationType("m2", 0.5, "f", s);
	
	// g1 genomic element type: uses m1 for 99.5% of all mutations 
	//(name, vector of type of mutations, ratio at which these appear)
	neutrals = 1 - mu;
	initializeGenomicElementType("g1", c(m1, m2), c(neutrals, mu)); 
		
	// uniform chromosome of length 50 kb with uniform recombination 
	//(element type, first site, last site)
	initializeGenomicElement(g1, 0, 49999);
	
	// define recombination rate
	initializeRecombinationRate(1e-8);

}

// create a single population
//(name, size)
1 {
	defineConstant("gseed", getSeed() );
	sim.addSubpop("p1", N);
}
// until generation 10000 m2 mutations are neutral
1:9999 fitness(m2) { return 1.0; }

// sample 100 genomes every 10 generations, starting in generation 10000
// sample from population 1 into a specified file
// REMEMBER TO SPECIFY YOUR FILE PATH HERE
10000 late() { 
	p1.outputSample(100, filePath="./slim_output" + gseed + "_N" + N + "__s" + s + "__mu" + mu + ".dat", append=F); 
	
  cat("At generation 10_000\n Nb. fixed sel loci:" + sum(sim.substitutions.mutationType==m2)+ "\n Nb. polymorphic selected loci:" + sim.countOfMutationsOfType(m2) + "\n");
  defineConstant("m2_10000", sum(sim.substitutions.mutationType==m2) );
}

// create all other entries, every 20 generations
10001:10200 late() { 
// if the generation is not divisible by 20 do nothing
if (sim.generation % 10 != 0)
		return;
	
	//otherwise take another sample and append it to the existing file
	p1.outputSample(100, filePath="./slim_output" + gseed + "_N" + N + "__s" + s + "__mu" + mu + ".dat", append=T); 
	// at the end check the number of selected mutations around
	if (sim.generation == 10200) {
		// cat (m2_10000);
		// cat ( sum(sim.substitutions.mutationType==m2) );
		if (sim.countOfMutationsOfType(m2)+sum(sim.substitutions.mutationType==m2)>0) {
			// display how many selected loci were still present at the end; if none instruct the user to rerun.
			cat("Simulation with at least one selected locus\n Nb. fixed sel loci:" + sum(sim.substitutions.mutationType==m2)+ "\n Nb. polymorphic selected loci:" + sim.countOfMutationsOfType(m2) + "\n");
			if ( (sim.countOfMutationsOfType(m2) > 0) | (sum(sim.substitutions.mutationType==m2) - m2_10000 > 0) ) {
				cat ("\n\n");
				cat ("python ./SlimToWfabc.py " + "./slim_output" + gseed + "_N" + N + "__s" + s + "__mu" + mu + ".dat " + "./slim_output" + gseed + "_fixedmut_N" + N + "__s" + s + "__mu" + mu + ".dat " + "input_wfabc" + gseed + "_N" + N + "__s" + s + "__mu" + mu + ".txt " + "positions" + gseed + "_N" + N + "__s" + s + "__mu" + mu + ".txt 5 && ./bin/wfabc_1 " + "input_wfabc" + gseed + "_N" + N + "__s" + s + "__mu" + mu + ".txt \n");
				cat ("echo 'Must be zero!' $(grep -c '-' " + "input_wfabc" + gseed + "_N" + N + "__s" + s + "__mu" + mu + "_Ne_bootstrap.txt ) \n");
				cat ("echo 'Bigger than zero?' $(grep -c 'm2' "+ "positions" + gseed + "_N" + N + "__s" + s + "__mu" + mu + ".txt )\n\n");
			}
			} else {
			cat("Selected loci lost due to drift; please rerun\n");
		}	
		// save which mutations became fixed in the population
		sim.outputFixedMutations(filePath="./slim_output" + gseed + "_fixedmut_N" + N + "__s" + s + "__mu" + mu + ".dat");
	}	
}

