// Here we simulate a population underwent a 10 generation long bottleneck 20 generations before we begin to sample
initialize() {
	// define mutation rate
	initializeMutationRate(1e-7);
	
	// m1 mutation type: neutral 
	//(name, dominance, DFE type, selection coefficient)
	initializeMutationType("m1", 0.5, "f", 0.0);

	// m2 mutation type: selected
	initializeMutationType("m2", 0.5, "f", s);
	
	// g1 genomic element type: uses m1 for 99.5% of all mutations 
	//(name, vector of type of mutations, ratio at which these appear)
	neutrals = 1 - mu;
	initializeGenomicElementType("g1", c(m1,m2), c(neutrals, mu) ); 
		
	// uniform chromosome of length 50 kb with uniform recombination 
	//(element type, first site, last site)
	initializeGenomicElement(g1, 0, 49999);
	
	// define recombination rate
	initializeRecombinationRate(1e-8);
}

// create a population of N=Na individuals
//(name, size)
1 { 
	defineConstant("gseed", getSeed() );
	sim.addSubpop("p1", Na); 
}
// until generation 9979 m2 mutations are neutral
1:9979 fitness(m2) { return 1.0; }
// at generation 9980 reduce population size to some low Nb value
9980 { p1.setSubpopulationSize(Nb); }
// at generation 10000 return to old population size
9990 { p1.setSubpopulationSize(Na); }


// sample 100 genomes every 10 generations, starting in generation 10000
// sample from population 1 into a specified file
// REMEMBER TO SPECIFY YOUR FILE PATH HERE
10000 late() {
	defineConstant("m2_10000", sum(sim.substitutions.mutationType == m2) );
	defineConstant("parameter_set", "_Na" + Na + "_Nb" + Nb + "__s" + s + "__mu" + mu);
	defineConstant("slim_out", "./slim_output" + gseed + parameter_set + ".dat");
	defineConstant("slim_fixedmut", "./slim_output" + gseed + "_fixedmut" + parameter_set + ".dat");
	defineConstant("in_wfabc", "input_wfabc" + gseed + parameter_set + ".txt");
	defineConstant("py_positions", "positions" + gseed + parameter_set + ".txt");
	defineConstant("Ne_bootstrap", "input_wfabc" + gseed + parameter_set + "_Ne_bootstrap.txt");
	
	p1.outputSample(100, filePath=slim_out, append=F);
	cat("At generation 10_000\n Nb. fixed sel loci:" + m2_10000 + "\n Nb. polymorphic selected loci:" + sim.countOfMutationsOfType(m2) + "\n");
	
}

// create all other entries, every 20 generations
10001:10200 late() { 
// if the generation is not divisible by 20 do nothing
if (sim.generation % 10 != 0)
		return;
	
	//otherwise take another sample and append it to the existing file
	p1.outputSample(100,filePath=slim_out, append=T); 
	// at the end check the number of selected mutations around
	if (sim.generation == 10200) {
		if (sim.countOfMutationsOfType(m2)+sum(sim.substitutions.mutationType==m2)>0){
			// display how many selected loci were still present at the end; if none instruct the user to rerun.
			cat("Simulation with at least one selected locus\n Nb. fixed sel loci:"+sum(sim.substitutions.mutationType==m2)+ "\n Nb. polymorphic selected loci:"+sim.countOfMutationsOfType(m2));
			cat ("\n\n");
			cat ("python ./SlimToWfabc.py " + slim_out + " " + slim_fixedmut + " " + in_wfabc + " " + py_positions + " 5 && ./bin/wfabc_1 " + in_wfabc + " \n");
			cat ("echo 'Must be zero!' $(grep -c '-' " + Ne_bootstrap + " ) \n");
			cat ("echo 'Bigger than zero?' $(grep -c 'm2' " + py_positions + " )\n\n");
			} else {
			cat("Selected loci lost due to drift; please rerun\n");
		}	
		// save which mutations became fixed in the population
		sim.outputFixedMutations(filePath=slim_fixedmut);
	}	
}
